<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @waypoint.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @waypoint.longitude %>
</p>

<p>
  <strong>Logbook:</strong>
  <%= @waypoint.logbook %>
</p>

<p>
  <strong>Date:</strong>
  <%= @waypoint.date %>
</p>

<%= link_to 'Edit', edit_waypoint_path(@waypoint) %> |
<%= link_to 'Back', waypoints_path %>
