<!DOCTYPE html>
<html>
  <head>
    <title>Coderouge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <
    <script type="text/javascript" charset="utf-8">
      var __GOOGLE_MAP_API_KEY__ = "<%=Rails.application.credentials.google_maps_api_key%>";
    </script>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
